<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EssentialFeedTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA8EA92127033E85007920A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA9ACE7625B5C86700532EAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAECF6112707F106009F4CF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAECF6182707F107009F4CF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF7179E258EB2B0005F9242</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF717B7258EBEFF005F9242</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
